{% extends "layout.html" %}
{% block content %}
    <!-- เนื้อหา -->
    <div class="container">
        <div class="modal-header text-center">
            <div class="row">
                {% for tid,items in ToyList.items() %}
                    <a href="/product/{{ tid }}">
                    <div class="col-sm-4">
                        <label>{{ items['name'] }}</label>
                        <p><img src="data:image/png;base64,{{ items['image'] }}" alt="{{ items['name'] }}" width="200" height="200"></p>
                        <label>{{ '฿%.2f'%items['price'] }}</label>
                    </div></a>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock content %}