{% extends "layout.html" %}
{% block content %}

        <!-- Product detail -->
        <div class="container">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-8"><img src="data:image/png;base64,{{ ToyList['image'] }}" alt="{{ ToyList['name'] }}" width="500" height="500"></div>
                    <div class="col-sm-4">
                        <div class="row"><h2>{{ ToyList['name'] }}</h2></div>
                        <div class="row"><h2>{{ '฿%.2f'%ToyList['price'] }}</h2></div>
                        <div class="row"><input type="number" value="1" min="1" max="1000" step="1"/></div><br>
                        <div class="row"><input type="submit" class="btn btn-primary"></div>
                    </div>
                </div>
                {% for key,value in ToyList.items() %}
                    {% if key != 'tid' and key != 'image' %}
                    <div class="row">
                        <div>
                            <h2>{{ '{0} : {1}'.format(key,value).title()  }}</h2>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

{% endblock content %}