{% extends "layout.html" %}
{% block content %}

        <div class="container">
            <h2>Stock<a href="" class="pull-right btn btn-primary glyphicon glyphicon-plus" data-toggle="modal" data-target="#addPopup"></a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-1">Name</th>
                        <th class="col-sm-1">Size</th>
                        <th class="col-sm-1">Material</th>
                        <th class="col-sm-1">Brand</th>
                        <th class="col-sm-1">Subject</th>
                        <th class="col-sm-1">Collection</th>
                        <th class="col-sm-1">Price</th>
                        <th class="col-sm-1">Amount</th>
                        <th class="col-sm-2">Picture</th>
                        <th class="col-sm-1">Action</th>
                    </tr>
                </thead>
                {% for tid,items in ToyList.items() %}
                    <tbody>
                        <tr>
                            <td>{{ items['tid'] }}</td>
                            <td>{{ items['name'] }}</td>
                            <td>{{ '%.2f cm'%items['height'] }}</td>
                            <td>{{ items['material'] }}</td>
                            <td>{{ items['brand'] }}</td>
                            <td>{{ items['from'] }}</td>
                            <td>{{ items['set'] }}</td>
                            <td>{{ '฿%.2f'%items['price'] }}</td>
                            <td>{{ items['amount'] }}</td>
                            <td><img src="data:image/png;base64,{{ items['image'] }}" alt="{{ items['name'] }}" width="25" height="25"></td>
                            <td>
                                <a href="" class="glyphicon glyphicon-cog" data-toggle="modal" data-target="{{'#editPopup%d'%items['tid']}}"></a>
                                <a href="/stock/del/{{ items['tid'] }}" class="glyphicon glyphicon-trash"></a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <!-- Add popup -->
        <div class="modal fade" id="addPopup">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2>Add product</h2>
                        </div>
                        <!-- body -->
                        <div class="modal-header">
                            <form action="/stock/add" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                                <!-- <div class="form-group"> -->
                                    <div class="form-group">                                       
                                        <label class="col-sm-1">Name:</label>
                                        <div class="col-sm-5"><input name="addName" class="form-control"/></div>
                                        <label class="col-sm-1">Size:</label>
                                        <div class="col-sm-5"><input name="addSize" class="form-control"/></div>
                                        

                                    </div>
                                    <div class="form-group">                                
                                        <label class="col-sm-2">Material:</label>
                                        <div class="col-sm-4"><input name="addMaterial" class="form-control"/></div>
                                        
                                        <label class="col-sm-1">Brand:</label>
                                        <div class="col-sm-5"><input name="addBrand" class="form-control"/></div>
                                            
                                        
                                        
                                    </div>
                                    <div class="form-group">
                                        
                                        <label class="col-sm-2">Subject:</label>
                                        <div class="col-sm-4"><input name="addSubject" class="form-control"/></div>
                                        
                                        <label class="col-sm-2">Collection:</label>
                                        <div class="col-sm-4"><input name="addCollection" class="form-control"/></div>
                                        

                                        
                                    </div>
                                        
                                    <div class="form-group">
                                        
                                        <label class="col-sm-2">Price:</label>
                                        <div class="col-sm-4"><input name="addPrice" class="form-control"/></div>
                                        
                                        <label class="col-sm-2">Amount:</label>
                                        <div class="col-sm-4"><input name="addAmount" class="form-control"/></div>
                                        
                                                                              
                                    </div>

                                    <div class="col-sm-8 custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" name="imgFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                      </div>
                                <!-- </div> -->
                                
                                <div><button type="submit" class="btn btn-primary btn-block">Done</button></div>
                            </form>
                        </div>
                </div>
            </div>
        </div>

    {% for tid,items in ToyList.items() %}
        <!-- Edit popup -->
        <div class="modal fade" id="{{'editPopup%d'%items['tid']}}">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2>Edit</h2>
                        </div>
                        <!-- body -->
                        <div class="modal-header">
                            <form action="/stock/update/{{ items['tid'] }}" method="POST" role="form" class="form-horizontal">
                                <div class="form-group">                               
                                    <label class="col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10"><input name="editName" id="name" class="form-control" value="{{ items['name'] }}" /></div>                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Size</label>
                                    <div class="col-sm-10"><input name="editSize" class="form-control" value="{{ '%.2f'%items['height'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Material</label>
                                    <div class="col-sm-10"><input name="editMaterial" class="form-control" value="{{ items['material'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Brand</label>
                                    <div class="col-sm-10"><input name="editBrand" class="form-control" value="{{ items['brand'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Subject</label>
                                    <div class="col-sm-10"><input name="editSubject" class="form-control" value="{{ items['from'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Collection</label>
                                    <div class="col-sm-10"><input name="editCollection" class="form-control" value="{{ items['set'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Price</label>
                                    <div class="col-sm-10"><input name="editPrice" class="form-control" value="{{ '%.2f'%items['price'] }}" /></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2">Amount</label>
                                    <div class="col-sm-10"><input name="editAmount" class="form-control" value="{{ items['amount'] }}" /></div>
                                </div>
                                <div class="form-group" class="pull-center">
                                    <h2><img src="data:image/png;base64,{{ items['image'] }}" alt="{{ items['name'] }}" width="250" height="250"></h2>
                                </div>
                                    
                                <div><button type="submit" class="btn btn-primary btn-block">Done</button></div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock content %}